---
- name: {{ __fule_current_scenario_name | capitalize }} | Converge
  hosts: all
  tasks:

    - name: "Converge | Include role {{ fule_role_name }}"
      ansible.builtin.include_role:
        name: "{{ fule_role_name }}"
